<div ng-controller="navAddCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                       Add New Navigation
                        <a ng-click="changeMenu('nav-list')" class="btn btn-sm btn-primary float-right">back</a>
                    </div>
                        <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input autofocus="autofocus" class="form-control" id="title" name="title"
                                           ng-model="data.title" required type="text">
                                </div>
                                <div class="form-group">
                                    <label for="link">Link</label>
                                    <input class="form-control" id="link" name="link" ng-model="data.link" type="text">
                                </div>
                                <div>
                                    <label for="link">enable</label>
                                    <select class="form-control" id="enable" ng-model="data.enable">
                                        <option value="true" ng-selected="data.enable">Yes</option>
                                        <option value="false" ng-selected="!data.enable">No</option>
                                    </select>
                                </div>
                                <br>
                                <button class="btn btn-primary" ng-click="addData()" type="submit">insert</button>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>