<div ng-controller="navListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>Navigation List</h1>
                <a class="btn btn-sm btn-primary float-right" ng-click="changeMenu('nav-Add')">Add New +</a>
                <br/>
                <br/>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">link</th>
                        <th scope="col">enable</th>
                        <th scope="col">itemOrder</th>
                        <th scope="col">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{data.title}}</td>
                        <td>{{data.link}}</td>
                        <td>
                            <i class="fa fa-check color-green" ng-show="data.enable" ></i>
                            <i class="fa fa-times color-red" ng-show="!data.enable" ></i>
                        </td>
                        <td>{{data.itemOrder}}</td>
                        <td>
                            <a  ng-click="editItem(data.id)"><i class="fa fa-edit color-green cursor-pointer"></i></a>
                            <a ng-click="deleteItem(data.id)"><i class="fa fa-times color-red cursor-pointer"></i></a>
                            <a ng-click="changeOrder(data.id,1)"><i class="fa fa-arrow-up color-yellow cursor-pointer"></i></a>
                            <a ng-click="changeOrder(data.id,0)"><i class="fa fa-arrow-down color-blue cursor-pointer"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li ng-repeat="i in range(pageCount) track by $index"  class="page-item" aria-current="page">
                            <span class="page-link" ng-click="changePage($index)">
                                {{($index+1)}}
                            </span>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>
</div>