<div ng-controller="categoryListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>Category List</h1>
                <a class="btn btn-sm btn-primary float-right" ng-click="changeMenu('category-Add')">Add New +</a>
                <a class="btn btn-sm btn-success float-right m-r-10 " ng-click="changeMenu('color-list')">Colors</a>
                <a class="btn btn-sm btn-danger float-right m-r-10 " ng-click="changeMenu('size-list')">Sizes</a>
                <br/>
                <br/>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">image</th>
                        <th scope="col">title</th>
                        <th scope="col">enable</th>
                        <th scope="col">description</th>
                        <th scope="col">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{$index + 1}}</th>
                        <td>
                            <img src="/api/utils/upload/files/{{data.image}}" width="60"/>
                        </td>
                        <td>{{data.title}}</td>
                        <td>
                            <i class="fa fa-check color-green" ng-show="data.enable"></i>
                            <i class="fa fa-times color-red" ng-show="!data.enable"></i>
                        </td>
                        <td>{{data.description}}</td>
                        <td>
                            <a ng-click="editItem(data.id)"><i class="fa fa-edit color-green cursor-pointer"></i></a>
                            <a ng-click="deleteItem(data.id)"><i class="fa fa-times color-red cursor-pointer"></i></a>
                            <a title="Show Products" ng-click="showProducts(data)"><i class="fa fa-cubes color-blue"></i></a>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li aria-current="page" class="page-item" ng-repeat="i in range(pageCount) track by $index">
                            <span class="page-link" ng-click="changePage($index)">
                                {{($index + 1)}}
                            </span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>