<div ng-controller="categoryEditCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Edit Category
                        <a class="btn btn-sm btn-primary float-right" ng-click="changeMenu('category-list')">back</a>
                    </div>
                    <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input autofocus="autofocus" class="form-control" id="title" name="title"
                                           ng-model="data.title" required type="text">
                                </div>
                                <div>
                                    <label for="enable">enable</label>
                                    <select class="form-control" id="enable" ng-model="data.enable">
                                        <option ng-selected="data.enable" value="true">Yes</option>
                                        <option ng-selected="!data.enable" value="false">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="description">description</label>
                                    <textarea class="form-control" id="description" name="description"
                                              ng-model="data.description" type="text"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="/api/utils/upload/files/{{data.image}}" width="60"/>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" disabled="disabled" id="image"
                                                   name="image" ng-model="data.image" readonly="readonly" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div ng-include="'views/util/fileUploader.html'"></div>
                                <br>
                                <button class="btn btn-primary" ng-click="editData()" type="submit">update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>