<div ng-controller="sizeListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>Size List</h1>
                <a class="btn btn-sm btn-success float-right m-r-10" ng-click="changeMenu('category-list')">Back</a>
                <a class="btn btn-sm btn-primary float-right m-r-10" ng-click="changeMenu('size-Add')">Add New +</a>
                <br/>
                <br/>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{data.title}}</td>
                        <td>{{data.description}}</td>
                        <td>
                            <a  ng-click="editItem(data.id)"><i class="fa fa-edit size-green cursor-pointer"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li ng-repeat="i in range(pageCount) track by $index"  class="page-item" aria-current="page">
                            <span class="page-link" ng-click="changePage($index)">
                                {{($index+1)}}
                            </span>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>
</div>