<div ng-controller="sizeEditCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Edit Size
                        <a class="btn btn-sm btn-primary float-right" ng-click="changeMenu('size-list')">back</a>
                    </div>
                    <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input autofocus="autofocus" class="form-control" id="title" name="title"
                                           ng-model="data.title" required type="text">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input class="form-control" id="description" name="description"
                                           ng-model="data.description" type="size">
                                </div>
                                <br>
                                <button class="btn btn-primary" ng-click="editData()" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>