<div ng-controller="sliderEditCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                       Edit New Slider
                        <a ng-click="changeMenu('slider-list')" class="btn btn-sm btn-primary float-right">back</a>
                    </div>
                        <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input autofocus="autofocus" class="form-control" id="title" name="title"
                                           ng-model="data.title" required type="text">
                                </div>
                                <div class="form-group">
                                    <label for="link">Link</label>
                                    <input class="form-control" id="link" name="link" ng-model="data.link" type="text">
                                </div>
                                <div>
                                    <label for="link">enable</label>
                                    <select class="form-control" id="enable" ng-model="data.enable">
                                        <option value="true" ng-selected="data.enable">Yes</option>
                                        <option value="false" ng-selected="!data.enable">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="description">description</label>
                                    <textarea class="form-control" id="description" name="description" ng-model="data.description" type="text"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="/api/utils/upload/files/{{data.imageName}}" width="60"/>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" readonly="readonly" disabled="disabled" id="imageName" name="imageName" ng-model="data.imageName" type="text">
                                    </div>
                                </div>
                                <div ng-include="'views/util/fileUploader.html'" ></div>
                                <br>
                                <button class="btn btn-primary" ng-click="editData()" type="submit">update</button>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>