<div ng-controller="colorEditCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Edit Color
                        <a ng-click="changeMenu('color-list')" class="btn btn-sm btn-primary float-right">back</a>
                        </div>
                    <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input autofocus="autofocus" class="form-control" id="name" name="name"
                                           ng-model="data.name" required type="text">
                                </div>
                                <div class="form-group">
                                    <label for="value">Value</label>
                                    <input class="form-control" id="value" name="value" ng-model="data.value" type="color">
                                </div>
                                <br>
                                <button class="btn btn-primary" ng-click="editData()" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>