<div ng-controller="contentEditCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                       Edit Content
                        <a ng-click="changeMenu('content-list')" class="btn btn-sm btn-primary float-right">back</a>
                    </div>
                        <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="key">key</label>
                                    <input autofocus="autofocus" class="form-control" id="key" name="key"
                                           ng-model="data.key" required type="text">
                                </div>
                                <div class="form-group">
                                    <label for="value">Value</label>
                                    <div text-angular="text-angular" id="value" name="value" ng-model="data.value" ></div>
                                </div>
                                <br>
                                <button class="btn btn-primary" ng-click="editData()" type="submit">update</button>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>