<div ng-controller="blogListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>blog List</h1>
                <a class="btn btn-sm btn-primary float-right" ng-click="changeMenu('blog-Add')">Add New +</a>
                <br/>
                <br/>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">image</th>
                        <th scope="col">title</th>
                        <th scope="col">status</th>
                        <th scope="col">visitCount</th>
                        <th scope="col">published</th>
                        <th scope="col">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{$index + 1}}</th>
                        <td>
                            <img src="/api/utils/upload/files/{{data.image}}" width="60"/>
                        </td>
                        <td>{{data.title}} ({{data.subTitle}})</td>
                        <td>
                           <span class="badge badge-success" ng-show="data.status=='PUBLISHED'">{{data.status}}</span>
                           <span class="badge badge-danger" ng-show="data.status=='DRAFT'">{{data.status}}</span>
                        </td>
                        <td>{{data.visitCount}}</td>
                        <td>{{data.publishDate}}</td>
                        <td>
                            <a  ng-click="editItem(data.id)"><i class="fa fa-edit color-green cursor-pointer"></i></a>
                            <a ng-click="deleteItem(data.id)"><i class="fa fa-times color-red cursor-pointer"></i></a>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <br>
                <div>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li ng-repeat="i in range(pageCount) track by $index"  class="page-item" aria-current="page">
                            <span class="page-link" ng-click="changePage($index)">
                                {{($index+1)}}
                            </span>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>
</div>