<div ng-controller="blogAddCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                       Add New Blog
                        <a ng-click="changeMenu('blog-list')" class="btn btn-sm btn-primary float-right">back</a>
                    </div>
                        <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input autofocus="autofocus" class="form-control" id="title" name="title"
                                           ng-model="data.title" required type="text">
                                </div>
                                <div class="form-group">
                                    <label for="subTitle">subTitle</label>
                                    <input autofocus="autofocus" class="form-control" id="subTitle" name="subTitle"
                                           ng-model="data.subTitle" required type="text">
                                </div>
                                <div>
                                    <label for="status">status</label>
                                    <select class="form-control" id="status" ng-model="data.status">
                                        <option value="PUBLISHED">PUBLISHED</option>
                                        <option value="DRAFT" >DRAFT</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="publishDate">publish Date</label>
                                    <input class="form-control" id="publishDate" name="publishDate" ng-model="data.publishDate" type="date">
                                </div>
                                <div class="form-group">
                                    <label for="description">description</label>
                                    <div text-angular="text-angular" id="description" name="description" ng-model="data.description" ></div>
                                </div>
                                <div ng-include="'views/util/fileUploader.html'" ></div>
                                <br>
                                <button class="btn btn-primary" ng-click="addData()" type="submit">insert</button>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>