<div ng-controller="productListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>{{category.title}} products</h1>
                <a class="btn btn-sm btn-primary float-right" ng-click="changeMenuWithCategory('product-Add')">Add New +</a>
                <a class="btn btn-sm btn-success float-right m-r-10" ng-click="changeMenu('category-list')">back</a>
                <br/>
                <br/>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <img width="60" src="/api/utils/upload/files/{{data.image}}" />
                        </td>
                        <td>{{data.title}}</td>
                        <td>{{data.price}}</td>
                        <td>
                            <span class="badge badge-success" ng-show="data.enable" >Enable</span>
                            <span class="badge badge-danger" ng-show="!data.enable" >Disable</span>
                            <br/>
                            <span class="badge badge-success" ng-show="data.exists" >Exists</span>
                            <span class="badge badge-danger" ng-show="!data.exists" >NotExists</span>
                            <br/>
                            <span class="badge badge-info" >{{data.visitCount}}</span>
                        </td>
                        <td>
                            <a ng-click="editItem(data.id)"><i class="fa fa-edit color-green cursor-pointer"></i></a>
                            <a ng-click="deleteItem(data.id)"><i class="fa fa-times color-red cursor-pointer"></i></a>
                            <a title="Show Details" target="_blank" href="/product/{{data.id}}"><i class="fa fa-eye color-blue"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <div>
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li ng-repeat="i in range(pageCount) track by $index" class="page-item" aria-current="page">
                              <span class="page-link" ng-click="changePage($index)">
                                {{($index+1)}}
                              </span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>