<div ng-controller="productAddCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Add New Product
                        <a class="btn btn-sm btn-primary float-right" ng-click="changeMenuWithCategory('product-List')">back</a>
                    </div>
                    <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input autofocus="autofocus" class="form-control" id="title" name="title"
                                           ng-model="data.title" required type="text">
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input class="form-control" id="price" name="price" ng-model="data.price"
                                           type="number">
                                </div>
                                <div>
                                    <label for="exists">Exists</label>
                                    <select class="form-control" id="exists" ng-model="data.exists">
                                        <option ng-selected="data.exists" value="true">Yes</option>
                                        <option ng-selected="!data.exists" value="false">No</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="enable">enable</label>
                                    <select class="form-control" id="enable" ng-model="data.enable">
                                        <option ng-selected="data.enable" value="true">Yes</option>
                                        <option ng-selected="!data.enable" value="false">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="description">description</label>
                                    <div id="description" name="description" ng-model="data.description"
                                         text-angular="text-angular"></div>
                                </div>
                                <div class="form-group">
                                    <label for="color">Colors</label>
                                    <select id="color" multiple="multiple" name="color" ng-model="data.colors">
                                        <option ng-repeat="item in colors" value="{{item.id}}">
                                            {{item.name}} ({{item.value}})
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <lable for="size">Sizes</lable>
                                    <select id="size" multiple="multiple" name="size" ng-model="data.sizes">
                                        <option ng-repeat="item in sizes" value="{{item.id}}">
                                            {{item.title}}
                                        </option>
                                    </select>
                                </div>
                            <div class="form-group border-form p-3 m-1">
                                <label for="features">Features</label>
                                <div class="row">
                                    <div class="col-5">
                                        <label for="key">Key</label>
                                        <input type="text" id="key" ng-model="newFeature.key" class="form-control">
                                    </div>
                                    <div class="col-5">
                                        <label for="value">Value</label>
                                        <input type="text" id="value" ng-model="newFeature.value"
                                               class="form-control">
                                    </div>
                                    <div class="col-2">
                                        <br/>
                                        <input type="button" class="btn btn-success" value="+" ng-click="addFeature()" />
                                    </div>
                                </div>
                                <ul id="features">
                                    <li ng-repeat="feature in featureList">
                                        {{feature.key}} : {{feature.value}}
                                        <i class="fa fa-times color-red m-l-10" ng-click="deleteFeature(feature.id)"></i>
                                    </li>
                                </ul>
                            </div>
                            <div ng-include="'views/util/fileUploader.html'"></div>
                            <br>
                            <button class="btn btn-primary" ng-click="addData()" type="submit">insert</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>