<div ng-controller="userEditCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        edit User
                        <a class="btn btn-sm btn-primary float-right" ng-click="changeMenu('nav-list')">back</a>
                    </div>
                    <div class="card-body">
                        <div class="row col-md-11 ">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="firstName">FirstName</label>
                                    <input autofocus="autofocus" class="form-control" id="firstName" name="firstName"
                                           ng-model="data.firstName" required type="text">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">LastName</label>
                                    <input class="form-control" id="lastName" name="lastName" ng-model="data.lastName"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label for="userName">UserName</label>
                                    <span  readonly="readonly" disabled="disable" id="userName" class="form-control" >{{data.userName}}</span>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" id="password" name="password" ng-model="data.password" type="password">
                                </div>
                                 <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" id="email" name="email" ng-model="data.email"
                                           type="text">
                                </div>
                                <div>
                                    <label for="enable">enable</label>
                                    <select class="form-control" id="enable" ng-model="data.enable">
                                        <option ng-selected="data.enable" value="true">Yes</option>
                                        <option ng-selected="!data.enable" value="false">No</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="role">Role</label>
                                    <select class="form-control" id="role" ng-model="data.role">
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="USER" >USER</option>
                                    </select>
                                </div>
                                <br>
                                <button class="btn btn-primary" ng-click="editData()" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>