<div ng-controller="userListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>User List</h1>
                <a class="btn btn-sm btn-primary float-right" ng-click="changeMenu('user-Add')">Add New +</a>
                <br/>
                <br/>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>

                        <th scope="col">UserName</th>
                        <th scope="col">FullName</th>
                        <th scope="col">email</th>
                        <th scope="col">role</th>
                        <th scope="col">enable</th>
                        <th scope="col">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{data.userName}}</td>
                        <td>{{data.firstName}} {{data.lastName}}</td>
                        <td>{{data.email}}</td>
                        <td>
                            <span class="badge badge-primary" ng-show="data.role=='ADMIN'">{{data.role}}</span>
                            <span class="badge badge-primary" ng-show="data.role=='USER'">{{data.role}}</span>
                        </td>
                        <td>
                            <i class="fa fa-check color-green" ng-show="data.enable" ></i>
                            <i class="fa fa-times color-red" ng-show="!data.enable" ></i>
                        </td>
                        <td>
                            <a  ng-click="editItem(data.id)"><i class="fa fa-edit color-green cursor-pointer"></i></a>
                            <a ng-hide="data.id==userInfo.id" ng-click="deleteItem(data.id)"><i class="fa fa-times color-red cursor-pointer"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li ng-repeat="i in range(pageCount) track by $index"  class="page-item" aria-current="page">
                            <span class="page-link" ng-click="changePage($index)">
                                {{($index+1)}}
                            </span>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>
</div>