.color-red {
    color: #EB4435;
}

.color-blue {
    color: #4285F3;
}

.color-yellow {
    color: #FBBD03;
}

.color-green {
    color: #33A852;
}
.cursor-pointer{
    cursor: pointer;
}
.panel-header{
    background-color: #ffffff;
    border-bottom: 1px solid #aaa;
    padding: 10px;
}
.slid-nav{
    background-color: #34495e;
    color:#fff;
    height: 100%;
}
.side-nav-active{
    background-color: #2b3e50;
}
.slid-nav ul{
    list-style: none;
    padding: 10px;
}
.slid-nav li{
   padding: 7px;
}
.slid-nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px;
}
.slid-nav li:hover{
    background-color: #3c556e;
}
.main-container{
    min-height: 668px;
    background-color: #fff;
}
.pagination .page-link{
    cursor: pointer;
}
.color-entity-box{
    width: 25px;
    height: 25px;
}
.m-r-10{
    margin-right: 10px;
}
